.token.maladum { background-image: url('../images/maladum.png'); background-size: 1591px 1366px }
.token.maladum.aegis-charm { background-position-x: -1205px; background-position-y: -1064px; }
.token.maladum.arcane-crutch { background-position-x: -564px; background-position-y: -0px; }
.token.maladum.arcanum-kouse { background-position-x: -234px; background-position-y: -1216px; }
.token.maladum.arrow { background-position-x: -321px; background-position-y: -1216px; }
.token.maladum.avian-seal { background-position-x: -408px; background-position-y: -1216px; }
.token.maladum.axe { background-position-x: -153px; background-position-y: -760px; }
.token.maladum.bastard-sword { background-position-x: -564px; background-position-y: -152px; }
.token.maladum.bear-trap { background-position-x: -305px; background-position-y: -760px; }
.token.maladum.blightshield { background-position-x: -495px; background-position-y: -1216px; }
.token.maladum.blue-cystal { background-position-x: -582px; background-position-y: -1216px; }
.token.maladum.boots-of-celerity { background-position-x: -457px; background-position-y: -760px; }
.token.maladum.boundless-bracers { background-position-x: -609px; background-position-y: -760px; }
.token.maladum.breastplate-armour { background-position-x: -781px; background-position-y: -608px; }
.token.maladum.buckler { background-position-x: -669px; background-position-y: -1216px; }
.token.maladum.chainmail-armour { background-position-x: -0px; background-position-y: -760px; }
.token.maladum.club { background-position-x: -651px; background-position-y: -456px; }
.token.maladum.composite-longbow { background-position-x: -564px; background-position-y: -304px; }
.token.maladum.crossbow { background-position-x: -761px; background-position-y: -760px; }
.token.maladum.dagger { background-position-x: -756px; background-position-y: -1216px; }
.token.maladum.diabolic-phylactery { background-position-x: -651px; background-position-y: -608px; }
.token.maladum.dirk { background-position-x: -843px; background-position-y: -1216px; }
.token.maladum.djinnbane { background-position-x: -930px; background-position-y: -1216px; }
.token.maladum.efreets-heart { background-position-x: -0px; background-position-y: -456px; }
.token.maladum.enchanted-blade { background-position-x: -217px; background-position-y: -456px; }
.token.maladum.enchanted-cudgel { background-position-x: -152px; background-position-y: -1064px; }
.token.maladum.enchanted-gladius { background-position-x: -269px; background-position-y: -1064px; }
.token.maladum.enchanted-stave { background-position-x: -434px; background-position-y: -456px; }
.token.maladum.energy-wand { background-position-x: -998px; background-position-y: -0px; }
.token.maladum.envoys-message { background-position-x: -998px; background-position-y: -152px; }
.token.maladum.fire-arrow { background-position-x: -1017px; background-position-y: -1216px; }
.token.maladum.flail { background-position-x: -998px; background-position-y: -304px; }
.token.maladum.flintlock-pistol { background-position-x: -386px; background-position-y: -1064px; }
.token.maladum.glaive { background-position-x: -0px; background-position-y: -0px; }
.token.maladum.gold-nugget { background-position-x: -1104px; background-position-y: -1216px; }
.token.maladum.gold { background-position-x: -1191px; background-position-y: -1216px; }
.token.maladum.great-axe { background-position-x: -282px; background-position-y: -0px; }
.token.maladum.great-sword { background-position-x: -0px; background-position-y: -152px; }
.token.maladum.halberd { background-position-x: -0px; background-position-y: -608px; }
.token.maladum.hammer { background-position-x: -998px; background-position-y: -456px; }
.token.maladum.hatchet { background-position-x: -503px; background-position-y: -1064px; }
.token.maladum.healing-elixir { background-position-x: -1278px; background-position-y: -1216px; }
.token.maladum.health-crystal { background-position-x: -1419px; background-position-y: -0px; }
.token.maladum.helmet { background-position-x: -1419px; background-position-y: -152px; }
.token.maladum.hexwell-talisman { background-position-x: -1419px; background-position-y: -304px; }
.token.maladum.honed-arrow { background-position-x: -1419px; background-position-y: -456px; }
.token.maladum.hyberian-diamond { background-position-x: -620px; background-position-y: -1064px; }
.token.maladum.ignis-sceptre { background-position-x: -217px; background-position-y: -608px; }
.token.maladum.javelin { background-position-x: -737px; background-position-y: -1064px; }
.token.maladum.keepers-robes { background-position-x: -998px; background-position-y: -608px; }
.token.maladum.key { background-position-x: -1419px; background-position-y: -608px; }
.token.maladum.khaarastad-regalta { background-position-x: -434px; background-position-y: -608px; }
.token.maladum.large-shield { background-position-x: -998px; background-position-y: -760px; }
.token.maladum.leather-armour { background-position-x: -0px; background-position-y: -912px; }
.token.maladum.long-sword { background-position-x: -781px; background-position-y: -0px; }
.token.maladum.longbow { background-position-x: -781px; background-position-y: -152px; }
.token.maladum.lordsblade { background-position-x: -282px; background-position-y: -152px; }
.token.maladum.lothors-destiny { background-position-x: -781px; background-position-y: -304px; }
.token.maladum.lowicks-axe { background-position-x: -152px; background-position-y: -912px; }
.token.maladum.mace { background-position-x: -304px; background-position-y: -912px; }
.token.maladum.maladaars-almanac { background-position-x: -456px; background-position-y: -912px; }
.token.maladum.maladic-draught { background-position-x: -1419px; background-position-y: -760px; }
.token.maladum.map { background-position-x: -854px; background-position-y: -1064px; }
.token.maladum.merutan-longbow { background-position-x: -0px; background-position-y: -304px; }
.token.maladum.morsel { background-position-x: -1419px; background-position-y: -912px; }
.token.maladum.objective { background-position-x: -608px; background-position-y: -912px; }
.token.maladum.oblivions-echo { background-position-x: -760px; background-position-y: -912px; }
.token.maladum.pick { background-position-x: -971px; background-position-y: -1064px; }
.token.maladum.pike { background-position-x: -282px; background-position-y: -304px; }
.token.maladum.potion-of-acuity { background-position-x: -1419px; background-position-y: -1064px; }
.token.maladum.provisions { background-position-x: -912px; background-position-y: -912px; }
.token.maladum.quarterstaff { background-position-x: -781px; background-position-y: -456px; }
.token.maladum.quiver { background-position-x: -1088px; background-position-y: -1064px; }
.token.maladum.rapter { background-position-x: -1150px; background-position-y: -0px; }
.token.maladum.remedy { background-position-x: -1302px; background-position-y: -0px; }
.token.maladum.revered-effigy { background-position-x: -1150px; background-position-y: -152px; }
.token.maladum.sabre { background-position-x: -1150px; background-position-y: -304px; }
.token.maladum.short-bow { background-position-x: -1150px; background-position-y: -456px; }
.token.maladum.short-sword { background-position-x: -1302px; background-position-y: -152px; }
.token.maladum.shot { background-position-x: -1419px; background-position-y: -1216px; }
.token.maladum.sling { background-position-x: -1506px; background-position-y: -0px; }
.token.maladum.small-shield { background-position-x: -1302px; background-position-y: -304px; }
.token.maladum.spear { background-position-x: -1150px; background-position-y: -608px; }
.token.maladum.spellweavers-cowl { background-position-x: -1302px; background-position-y: -456px; }
.token.maladum.steel-bracers { background-position-x: -1506px; background-position-y: -152px; }
.token.maladum.studded-leather-armour { background-position-x: -1150px; background-position-y: -760px; }
.token.maladum.sunblessed-weed { background-position-x: -1506px; background-position-y: -304px; }
.token.maladum.sword { background-position-x: -1150px; background-position-y: -912px; }
.token.maladum.tainted-talon { background-position-x: -1302px; background-position-y: -608px; }
.token.maladum.tome-of-revenance { background-position-x: -0px; background-position-y: -1064px; }
.token.maladum.tonic-of-furor { background-position-x: -1506px; background-position-y: -456px; }
.token.maladum.torch { background-position-x: -1302px; background-position-y: -760px; }
.token.maladum.trap-alarm { background-position-x: -1506px; background-position-y: -608px; }
.token.maladum.trap-fire { background-position-x: -1302px; background-position-y: -912px; }
.token.maladum.trap-poison { background-position-x: -1506px; background-position-y: -760px; }
.token.maladum.trap-spikes { background-position-x: -1302px; background-position-y: -1064px; }
.token.maladum.travelling-cloak { background-position-x: -0px; background-position-y: -1216px; }
.token.maladum.whip { background-position-x: -117px; background-position-y: -1216px; }
.token.maladum.yellow-crystal { background-position-x: -1506px; background-position-y: -912px; }